   .layer1 /* Стиль основного текста */
	{
	  width: 720px;
	  box-shadow: 7px 7px 5px rgba(0,0,0,0.6); /* Тень */
	  border-radius: 10px; /* Радиус скругления */
	  background: #DCDCDC;/* Цвет фона */
	  padding: 10px; /* Поля вокруг текста */
	  margin: 1px;
	}